@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
/*
	# fonts
	font-family: 'Orbitron', sans-serif; - time display
	
	# colours
	background-dark : #212121
	basic : #4287f5
	basic-dark : #182f54
*/

.App {
	width : 100vw;
	height : 100vh;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	background-color : #212121;
	flex-direction : column;
}

.timer-container {
	background-color : inherit;
	display : flex;
	justify-content : center;
	align-items : center;
}

.display {
	font-family : 'Orbitron', sans-serif;
	font-size : 2.4em;
	color : #4287f5;
}

.button {
	margin-top : 130px;
	z-index : 20;
	color : #4287f5;
	font-size : 3.5em;
}

.button:hover {
	cursor : pointer;
}