@import url('https://fonts.googleapis.com/css?family=Orbitron|Josefin+Sans&display=swap');
/*
	# fonts
	font-family: 'Orbitron', sans-serif; - time display digits
	font-family: 'Josefin Sans', sans-serif; - else
	
	# colours
	background-dark : #212121
	basic : #4287f5
	basic-dark : #182f54
	basic-light : #91d5ff
*/

.App {
	width : 100vw;
	min-height : 568px;
	overflow-y : scroll;
	height : 100vh;
	display : -ms-grid;
	display : grid;
	    grid-template-areas : 
		'left-side-container . right-side-container'
		'timer-container timer-container timer-container'
		'first-bottom-container first-bottom-container first-bottom-container'
		'second-bottom-container second-bottom-container second-bottom-container'
		'footer footer footer'
	;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	justify-items : center;
	background-color : #212121;
	font-family : 'Josefin Sans', sans-serif;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	-ms-flex-line-pack : center;
	    align-content : center;
	grid-column-gap : 20px;
}

.timer-container {
	-ms-grid-row : 2;
	-ms-grid-column : 1;
	-ms-grid-column-span : 5;
	grid-area : timer-container;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	background-color : inherit;
	margin : 14vh 0px 11vh 0px;
}

.container-title {
	color : #4287f5;
	font-size : 1.1em;
	overflow-wrap : word;
	text-align : center;
	width : 80px;
}

@media only screen and (min-width : 380px) {
	.timer-container {
		margin : 17vh 0px 13vh 0px;
	}
	
	.container-title {
		font-size : 1.3em;
	}
}

.control-container {
	border : 3px solid #182f54;
	border-radius : 10px;
	width : 90px;
}

.content {
	display : -ms-grid;
	display : grid;
	-ms-grid-columns : auto 10px auto 10px auto;
	grid-template-columns : auto auto auto;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	justify-items : center;
	grid-column-gap : 10px;
}

@media only screen and (min-width : 768px) {
	.App {
		    grid-template-areas : 
			'left-side-container timer-container right-side-container'
			'first-bottom-container first-bottom-container first-bottom-container'
			'second-bottom-container second-bottom-container second-bottom-container'
			'. footer .'
		;
		grid-gap : 20px 45px;
	}
	
	.timer-container {
		margin : 20vh 60px 0px 60px;
	}
	
	.content {
		-ms-grid-columns : auto;
		grid-template-columns : auto;
		-webkit-box-pack : center;
		    -ms-flex-pack : center;
		        justify-content : center;
		justify-items : center;
		grid-row-gap : 5px;
	}
	
	.container-title {
		font-size : 1.6em;
		width : 110px;
	}
	
	.control-container {
		width : 120px;
	}
	.timer-container {
		-ms-grid-row : 1;
		-ms-grid-column : 3;
		-ms-grid-column-span : 1;
	}
}

.control-number {
	color : #4287f5;
	font-family : 'Orbitron', sans-serif;
	font-size : 1.5em;
	min-width : 35px;
	min-height : 30px;
	text-align : center;
}

.control-operator {
	color : #4287f5;
	font-size : 1.5em;
}

@media only screen and (min-width : 768px) {
	.control-number {
		font-size : 1.8em;
	}
	
	.control-operator {
		font-size : 1.8em;
	}
}

.control-container[side~=left] {
	-ms-grid-row : 1;
	-ms-grid-column : 1;
	grid-area : left-side-container;
	-ms-grid-row-align:end;
	    align-self:end;
}

.control-container[side~=right] {
	-ms-grid-row : 1;
	-ms-grid-column : 5;
	grid-area : right-side-container;
	-ms-grid-row-align:end;
	    align-self:end;
}

.control-container[side~=bottom-first] {
	-ms-grid-row : 3;
	-ms-grid-column : 1;
	-ms-grid-column-span : 5;
	grid-area : first-bottom-container;
	width : 160px;
}

@media only screen and (min-width : 768px) {
	.control-container[side~=bottom-first] {
		margin-top : 7vh;
	}
}

.control-container[side~=bottom-first] .content {
	display : -ms-grid;
	display : grid;
	-ms-grid-columns : auto 10px auto 10px auto;
	grid-template-columns : auto auto auto;
	-ms-flex-line-pack : center;
	    align-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	grid-column-gap : 10px;
}

.control-container[side~=bottom-first] legend {
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
}

.control-container[side~=bottom-first] .container-title {
	display : inline-block;
	width : 125px;
}

.checkbox {
	margin : 1px 1px 1px 5px;
	display : inline;
	border : 2px solid #4287f5;
	border-radius : 5px;
}

.checkbox:hover {
	cursor : pointer;
}

.checkbox:active i {
	color : #91d5ff;
}

.checkbox i {
	color : #4287f5;
	margin : 1px;
}

.control-container[side~=bottom-second] {
	-ms-grid-row : 4;
	-ms-grid-column : 1;
	-ms-grid-column-span : 5;
	grid-area : second-bottom-container;
	display : -ms-grid;
	display : grid;
	-ms-grid-columns : auto 20px auto;
	grid-template-columns : auto auto;
	-ms-grid-rows : auto;
	grid-template-rows : auto;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	grid-column-gap : 20px;
	margin-top : 10px;
	margin-bottom : 20px;
	border : none;
}

.control-container[side~=bottom-second] > *:nth-child(1) {
	-ms-grid-row : 1;
	-ms-grid-column : 1;
}

.control-container[side~=bottom-second] > *:nth-child(2) {
	-ms-grid-row : 1;
	-ms-grid-column : 3;
}

.footer {
	-ms-grid-row : 5;
	-ms-grid-column : 1;
	-ms-grid-column-span : 5;
	grid-area : footer;
}

@media only screen and (min-width : 768px){
	.control-container[side~=left] {
		-ms-grid-row : 1;
		-ms-grid-column : 1;
	}
	.control-container[side~=right] {
		-ms-grid-row : 1;
		-ms-grid-column : 5;
	}
	.control-container[side~=bottom-first] {
		-ms-grid-row : 3;
		-ms-grid-column : 1;
		-ms-grid-column-span : 5;
	}
	.control-container[side~=bottom-second] {
		-ms-grid-row : 5;
		-ms-grid-column : 1;
		-ms-grid-column-span : 5;
	}
	.footer {
		-ms-grid-row : 7;
		-ms-grid-column : 3;
		-ms-grid-column-span : 1;
	}
}

.author {
	text-align : center;
	text-decoration : none;
	color : #4287f5;
	opacity : 0.8;
	font-size : 0.9em;
}

@media only screen and (min-width : 768px) {
	.author {
		font-size : 1.2em;
	}
}

.author:hover {
	cursor : pointer;
}

.author:active {
	opacity : 1;
}

.display {
	font-family : 'Orbitron', sans-serif;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-orient : vertical;
	-webkit-box-direction : normal;
	    -ms-flex-direction : column;
	        flex-direction : column;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-ms-flex-line-pack : center;
	    align-content : center;
	text-align : center;
}

.sessionTime {
	font-size : 2.4em;
	color : #4287f5;
}

.breakTime {
	font-size : 1.6em;
	color : #91d5ff;
}

#volume {
	-ms-flex-item-align:center;
	    -ms-grid-row-align:center;
	    align-self:center;
	border : none;
	background-color : inherit;
	color : #4287f5;
	outline : none;
	z-index:20;
	font-size : 1.1em;
}

#volume:hover {
	cursor : pointer;
}

#volume:active {
	color : #91d5ff;
}

@media only screen and (min-width : 380px) {
	.sessionTime {
		font-size : 2.8em;
	}
	
	.breakTime {
		font-size : 2em;
	}
	
	#volume {
		font-size : 1.5em;
	}
}

@media only screen and (min-width : 768px) {
	.display {
		width : 200px;
	}
	.sessionTime {
		font-size : 3.6em;
	}
	
	.breakTime {
		font-size : 2.8em;
	}
	
	#volume {
		font-size : 2em;
	}
}

.button {
	z-index : 20;
	color : #4287f5;
	-webkit-transition-duration : 0.2s;
	     -o-transition-duration : 0.2s;
	        transition-duration : 0.2s;
	border : none;
	background-color : inherit;
	outline : none;
}

.button:active {
	-webkit-transition-duration : 0.2s;
	     -o-transition-duration : 0.2s;
	        transition-duration : 0.2s;
	-webkit-transform : scale(0.9);
	    -ms-transform : scale(0.9);
	        transform : scale(0.9);
	color : #91d5ff;
}

.button:hover {
	cursor : pointer;
}

.button-control {
	font-size : 3.2em;
}

@media only screen and (min-width : 768px) {
	.button:hover {
		cursor : pointer;
		color : #91d5ff;
		-webkit-transition-duration : 0.2s;
		     -o-transition-duration : 0.2s;
		        transition-duration : 0.2s;
	}
}
