
.CircularProgressBar {
	position:absolute;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	-webkit-transform : scale(1.5);
	    -ms-transform : scale(1.5);
	        transform : scale(1.5);
}

.wrapper {
	position : absolute;
	width : 300px;
	height : 300px;
	
	-webkit-animation-name : wrapper-show;
	        animation-name : wrapper-show;
	-webkit-animation-fill-mode : forwards;
	        animation-fill-mode : forwards;
	-webkit-animation-timing-function : linear;
	        animation-timing-function : linear;
	-webkit-animation-duration : 0.1s;
	        animation-duration : 0.1s;
}

/* Set the progress bar */
.circle {
	width: 270px;
	height : 270px;
	border : 14px solid green;
	border-radius: 50%;
	position: absolute;
	clip : rect(0px,149px,298px,0px);
	z-index : 10;
	
	-webkit-animation-timing-function : linear;
	        animation-timing-function : linear;	
	animation-fill-mode : forwards;
}

.circle-background {
	width: 260px;
	height : 260px;
	border : 25px solid gray;
	border-radius: 50%;
	position: absolute;
	z-index : 5;
}

.right-spin {
	-webkit-transform : rotate(180deg);
			transform : rotate(180deg);
	-webkit-animation-name : right-spin;
	        animation-name : right-spin;
}

.left-spin {
	-webkit-animation-name : left-spin;
	        animation-name : left-spin;
}

@keyframes right-spin {
	from {
		-webkit-transform : rotate(180deg);
		        transform : rotate(180deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@keyframes left-spin {
	from {
		-webkit-transform : rotate(360deg);
		        transform : rotate(360deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@keyframes wrapper-show {
	to {
		clip : rect(0px,300px,300px,149px);
	}
}