
.CircularProgressBar {
	position:absolute;
	display : -webkit-box;
	display : -ms-flexbox;
	display : flex;
	-webkit-box-pack : center;
	    -ms-flex-pack : center;
	        justify-content : center;
	-webkit-box-align : center;
	    -ms-flex-align : center;
	        align-items : center;
	background-color : inherit;
}

.CircularProgressBar[id~=breakTimerprogressBar] {
	-webkit-transform : scale(0.75);
	    -ms-transform : scale(0.75);
	        transform : scale(0.75);
}
.CircularProgressBar[id~=sessionTimerprogressBar] {
	-webkit-transform : scale(0.6);
	    -ms-transform : scale(0.6);
	        transform : scale(0.6);
}

@media only screen and (min-width : 380px) {
	.CircularProgressBar[id~=breakTimerprogressBar] {
		-webkit-transform : scale(0.9);
		    -ms-transform : scale(0.9);
		        transform : scale(0.9);
	}
	.CircularProgressBar[id~=sessionTimerprogressBar] {
		-webkit-transform : scale(0.7);
		    -ms-transform : scale(0.7);
		        transform : scale(0.7);
	}
}

@media only screen and (min-width : 400px) {
	.CircularProgressBar[id~=breakTimerprogressBar] {
		-webkit-transform : scale(0.95);
		    -ms-transform : scale(0.95);
		        transform : scale(0.95);
	}
	.CircularProgressBar[id~=sessionTimerprogressBar] {
		-webkit-transform : scale(0.75);
		    -ms-transform : scale(0.75);
		        transform : scale(0.75);
	}
}

@media only screen and (min-width : 420px) {
	.CircularProgressBar[id~=breakTimerprogressBar] {
		-webkit-transform : scale(1);
		    -ms-transform : scale(1);
		        transform : scale(1);
	}
	.CircularProgressBar[id~=sessionTimerprogressBar] {
		-webkit-transform : scale(0.8);
		    -ms-transform : scale(0.8);
		        transform : scale(0.8);
	}
}

@media only screen and (min-width : 768px) {
	.CircularProgressBar[id~=breakTimerprogressBar] {
		-webkit-transform : scale(1.1);
		    -ms-transform : scale(1.1);
		        transform : scale(1.1);
	}
	.CircularProgressBar[id~=sessionTimerprogressBar] {
		-webkit-transform : scale(0.9);
		    -ms-transform : scale(0.9);
		        transform : scale(0.9);
	}
}

.wrapper {
	position : absolute;
	width : 300px;
	height : 300px;
	-webkit-animation-name : wrapper-show;
	        animation-name : wrapper-show;
	-webkit-animation-fill-mode : forwards;
	        animation-fill-mode : forwards;
	-webkit-animation-timing-function : linear;
	        animation-timing-function : linear;
	-webkit-animation-duration : 0.1s;
	        animation-duration : 0.1s;
}

/* Set the progress bar */
.circle {
	width: 270px;
	height : 270px;
	border : 14px solid #4287f5;
	border-radius: 50%;
	position: absolute;
	clip : rect(0px,149px,298px,0px);
	z-index : 10;
	-webkit-animation-timing-function : linear;
	        animation-timing-function : linear;	
	-webkit-animation-fill-mode : forwards;	
	        animation-fill-mode : forwards;
}

.circle-background {
	width: 260px;
	height : 260px;
	border : 25px solid #182f54;
	border-radius: 50%;
	position: absolute;
	z-index : 5;
}

.start-gap {
	position : absolute;
	top  : -156px;
	width : 25px;
	height : 27px;
	background-color : inherit;
	z-index : 15;
}

.start-gap[part~=left] {
	-webkit-transform : skewX(20deg);
	    -ms-transform : skewX(20deg);
	        transform : skewX(20deg);
}

.start-gap[part~=right] {
	-webkit-transform : skewX(-20deg);
	    -ms-transform : skewX(-20deg);
	        transform : skewX(-20deg);
}

.right-spin {
	-webkit-transform : rotate(180deg);
			-ms-transform : rotate(180deg);
	    transform : rotate(180deg);
	-webkit-animation-name : right-spin;
	        animation-name : right-spin;
}

.left-spin {
	-webkit-animation-name : left-spin;
	        animation-name : left-spin;
}

@-webkit-keyframes right-spin {
	from {
		-webkit-transform : rotate(180deg);
		        transform : rotate(180deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@keyframes right-spin {
	from {
		-webkit-transform : rotate(180deg);
		        transform : rotate(180deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@-webkit-keyframes left-spin {
	from {
		-webkit-transform : rotate(360deg);
		        transform : rotate(360deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@keyframes left-spin {
	from {
		-webkit-transform : rotate(360deg);
		        transform : rotate(360deg);
	}
	to {
		-webkit-transform : rotate(0deg);
		        transform : rotate(0deg);
	}
}

@-webkit-keyframes wrapper-show {
	to {
		clip : rect(0px,300px,300px,149px);
	}
}

@keyframes wrapper-show {
	to {
		clip : rect(0px,300px,300px,149px);
	}
}